<!DOCTYPE html>
<!-- saved from url=(0263)http://cart.payments.ebay.com/sc/add?srt=01000100000050a6e4147893bc5988a863f14f98332bf8e4a6eb5d6ac9a44c354f32bf74be67d651469c74414bec4b3610581966b3687180c41c3b6d2bc74903197481ebd902ed39efb1290c058c91aa9a9e823dd6b0dc&ssPageName=CART:ATC&item=iid:262344463519,qty:1 -->
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
      <meta name="format-detection" content="telephone=no">

      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/signin.css' />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
      <script src="angularjs/cart.js"></script>
      <!-- <script src="javascript/signin.js" type="text/javascript"></script> -->
      <!--[if lt IE 8]>
      <style>.sci-imgCont span{display:inline-block;height: 100%;}a.hdn-ADA-link,a.hdn-ADA-link:VISITED,a.hdn-ADA-link:HOVER{text-decoration:none !important; color:#666 !important;}
         .ie7mb15{margin-bottom:15px !important;}.ie7mt6{margin-top: 6px !important;}#ShopCart{margin-bottom:15px;}.ie7mt10{margin-top:10px;}.ie7lh-n{line-height: normal;}
      </style>
      <![endif]--><!--[if lt IE 10]>
      <style>.mw1180{min-width:1180px;}.mw881px{min-width:881px;}</style>
      <![endif]--><!--eCasLogId : 1578df6411d:144::-25200:p4%7Bjgwsfiuf%3F%3Cdka7e37e*04%603-1578df6411d-0x144--><!--r1cartLogId : t6%60dts9%3Feog4d72f%2Ba7d%60%29pqtfwpu%29sm%7E%29fgg%7E-fij-1578df64118-0x11e--><!--pageID : 2046448--><!--pageMessageID : --><!--errorCode : --><!--FLOW_TYPE : SHOPCART_RAPTOR--><!--XO_ERROR : --><!--SHOPCART_ID: 1475555271842 --><!--BUYER_GUID : 86aebaa51570abc01e84260cfd53f6c4 --><!--VIEW : SHOPCART--><!--CART_TOTAL : $80.97--><!--ITEM_COUNT : 1-->
      <title>Your eBay Shopping Cart</title>
      <link href="./images/v2e232vpdq1qhdypql54doqulaa.css" type="text/css" rel="stylesheet">
      <link href="./images/hxpfcvgwkay1lmlht1wytmnjjut.css" type="text/css" rel="stylesheet">
   </head>
   <body class="scbody gh-1199 gh-flex "  style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAYAAAB10jRKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADBJREFUeNpEyqERADAIBMGbbwSH+qhA/6URXMyqBUhFBLIP6ip0ezk2zExqC58nwACVZwX67tO41gAAAABJRU5ErkJggg==&quot;), none; background-repeat: repeat-x, repeat, repeat; background-position: 0px 30px, 0% 0%, 0% 0%;" ng-app="cart" ng-controller="cart" ng-init = "init();"ng-cloak>
      <div id="gh-gb" tabindex="-1"></div>
	  
      <div class="scCont clearfix">
         <div class="fl ml10 mr10">
            <div id="globalheader" class="fl col_100p clearfix">
               <style>.gh-hide-if-nocss{display:none;}.gh-ar-hdn{color:#fff}</style>
               <div class="gh-acc-exp-div gh-hide-if-nocss"></div>
               <!--[if lt IE 9]>
               <div id="gh" role="banner" class="gh-IE8 gh-flex gh-pre-js gh-w ">
                  <![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
                  <header id="gh" role="banner" class="gh-w gh-simpleH">
			   <div id="gh-top" class="gh-hide-if-nocss">
                     <ul id="gh-topl">
						<li class="gh-t gh-spr" style="padding: 6px 5px"><a href="" ng-click = "profile();"><span  class="gh-ug-guest" >  Hi <%= fname%>! </span></a></li>
						<li class="gh-t gh-spr " ><a href="" ng-click = "signOut();" class="gh-p"><span class="gh-eb-li gh-dd rt"> Sign Out </span></a></li>
                        <li class="gh-t gh-spr " ><span class="gh-eb-li gh-dd rt">Last Logged In: <%= lastLogged%><span></li>
                        <li class="gh-t gh-spr " ><span class="gh-eb-li gh-dd rt"><a href="/sell"  class="gh-p">Sell</span></a></li>
                     </ul>
                     <ul id="gh-eb">
                        <li id="gh-eb-My" class="gh-eb-li gh-dd rt" data-imp="10">
                           <div class="gh-menu">
                              <a href="/home"  _sp="m570.l2919" class="gh-eb-li-a">My Home</a>
                           </div>
                        </li>
                        <li  class="gh-eb-li rt"><a href="/cart" _sp="m570.l2633"  class="gh-eb-li-a" ><i id="gh-cart-i" class="gh-sprRetina"></i></a></li>
                     </ul>
                  </div>
			   </header><!--<![endif]--><!--ts:2016.10.03.21:02--><!--rq:--><!--rvr:94RUG5-->
            </div>
            <div id="PageTitle" class="fl col_100p clearfix">
               <div class="col_100p tr fr"></div>
               <div id="mainContent" role="main" tabindex="-1"></div>
               <h1 class="mb15 nowrap">Your eBay Shopping Cart</h1>
               <div class="clearfix" style="clear:both;"></div>
            </div>
            <div id="pageLevelMessaing" class="fl col_100p clearfix mw1180">
               <div class="msgWrapper">
                  
               </div>
            </div>
            <div id="centralarea" class="fl col_100p clearfix">
               <div id="leftsection" class="fl clearfix">
                  <div id="CARTSection" class="fl dib col_100p">
                     <div id="ShopCart" class="fl col_100p">
                        <div class="c-std">
                           <p></p>
                           <div id="sellerBucket_allstartruckparts" class="fl col_100p">
                              
                              <div ng-repeat= "item in cart track by $index" >
                              <div class="fl cart_sci b-ddd bgclr-fcfcfc col_100p" id="sc_allstartruckparts">
                                 <div class="sel_row sel_info_row" data-count="1" data-memberid="allstartruckparts" data-rtdisable="true" id="allstartruckparts">
                                    <div class="fl">
                                       <div class="fl sel_info_row ff-ds3 clr666 fs14 pl10 lhn">Seller:&nbsp;</div>
                                       <div class="fl sel_info_row asyncsellerInfo fs14 lhn">
                                          {{item.seller}}&nbsp;Shipping from: {{item.state}}
                                       </div>
                                    </div>
                                    <div class="fr">
                                       <div class="mr10 sellerbtn lh0 ie7mt6">
                                          <div class="fl smallerbtn RT">
                                            
                                          </div>
                                          
                                       </div>
                                       <div tabindex="-1" class="oly bub sm right hide" id="RTbubble_1">
                                          <div class="arr"></div>
                                          <div class="oly-b">
                                             <p class="bubble-content">
                                                You need to have at least two items in your cart from the same seller to request a total.
                                             </p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="fl lalign ralign mw851px">
                                    <div id="allstartruckparts-itemGroup1" class="fl col_100p clearfix">
                                       <div class="fl  col_100p ">
                                          <div id="allstartruckparts-itemGroup1-item1" class="fl col_100p clearfix">
                                             <div id="8631489580" data-iinfo="eyJpdGVtSWQiOiIyNjIzNDQ0NjM1MTkiLCJpdGVtUmVmZXJlbmNlSWQiOiI4NjMxNDg5NTgwIiwiaXRlbVBvc2l0aW9uIjpudWxsLCJpdGVtTm90aWZpY2F0aW9uQWN0aW9uIjpudWxsLCJpdGVtTm90aWZpY2F0aW9uVHlwZSI6bnVsbCwiaXRlbU5vdGlmaWNhdGlvblRyYWNraW5nUHJvcGVydHkiOm51bGwsIml0ZW1RdWFudGl0eSI6MSwiaXRlbVZhcmlhdGlvbklkIjoiMCIsIml0ZW1TaGlwcGluZ1NlcnZpY2VJZCI6IjUwMDIzIiwiaXRlbVRpdGxlIjoiUXR5MS1Db25zcGljdWl0eSBUYXBlIDI/eDE1MD8gQXBwcm92ZWQgRE9ULUMyIFJlZmxlY3RpdmUgVHJhaWxlciBSZWQgV2hpdGUiLCJpdGVtVHlwZSI6IkZJWEVEX1BSSUNFIiwiYm9waXMiOmZhbHNlLCJib3Bpc1N0b3JlU2VsZWN0ZWQiOmZhbHNlLCJzaGlwcGluZ1NlcnZpY2VNYXAiOnsiNTAwMjMiOiJVU1BTIFByaW9yaXR5IE1haWwgSW50ZXJuYXRpb25hbF9udWxsIn0sInN0b3JlSWQiOm51bGwsImxvY2F0aW9uSWQiOm51bGwsInBpY2t1cE1ldGhvZFRva2VuIjpudWxsLCJwaWNrdXBNZXRob2RJZGVudGlmaWVyIjpudWxsLCJnaWZ0S2V5IjpudWxsLCJlYm4iOmZhbHNlLCJlYm5TZWxlY3RlZCI6ZmFsc2V9" class="  fl col_100p talign balign clearfix" data-qty="1" data-displayorder="1" data-hasmsg="false" data-itemid="262344463519" data-varid="0">
                                                <div class="fr col_100p clearfix">
                                                   <div class="fl">
                                                      <div class="imgcol140">
                                                         <div class="sci-imgCont img140"><a class="imganchor" href="http://www.ebay.com/itm/262344463519" title="Qty1-Conspicuity Tape 2”x150’ Approved DOT-C2 Reflective Trailer Red White"><span class="l-shad lftd w140 h140"><span class="w140 h140 lh140"><span class="imgt w140 h140"><img border="0" src="./images/$_57.JPG" alt="Qty1-Conspicuity Tape 2”x150’ Approved DOT-C2 Reflective Trailer Red White" data-echo="http://i.ebayimg.com/00/s/MTI4MFg5NjA=/z/R6gAAOSwZ8ZW7sBX/$_57.JPG?set_id=880000500F" class="lazyload mw140 mh140" onerror="this.onerror=null;this.src=&#39;http://p.ebaystatic.com/aw/pics/cmp/icn/iconImgNA_96x96.gif&#39;;"></span></span></span></a></div>
                                                      </div>
                                                   </div>
                                                   <div class="fr  itemInfoColcart140 clearfix">
                                                      <div class="fl col_100p clearfix">
                                                         <div class="fl prltv infocolcart140">
                                                            <div class="mr10">
                                                               <div class="ff-ds3 fs16 mb5 fw-n sci-itmttl"><span id="262344463519_title"><a href="#">{{item.itemName}}</a></span></div>
                                                               <div class=" mb20 ">
                                                                  <table class="ItemInfoTable">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td>Description:</td>
                                                                           <td>{{item.description}}</td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                               </div>
                                                               <!-- Urgency Message Present = false --><!-- SME offer Present =   true, promoApplied = false -->
                                                               <div id="8631489580_SMEOFFER" class="fs16 mb10">
                                                                  
                                                               </div>
                                                            </div>
                                                         </div>
                                                         <div class="fr dib qtyColWrapper140">
                                                            <div class="fr pb20 col_100p qtyRow">
                                                               <div class="fl tr m0 p0 ff-ds3 fs12 prltv clr777 shqtycol140">
                                                                  <label for="qty_8631489580" class="lb">Quantity: </label><input role="textbox" type="number" min="0" ng-model="product[item.id]"  ng-init="product[item.id] = item.orderedquantity" ng-change="update(item.itemObjectId,product[item.id]);"  class="ff-ds3 fs12 qtyTextBox" >
                                                                  
                                                               </div>
                                                               <span class="fr tr m0 p0 ff-ds3 fs16 clr000 prcol140 pb15">
                                                                  <div class="fw-b">
                                                                     ${{item.price}}
                                                                  </div>
                                                               </span>
                                                            </div>
                                                            <div class="fr pb15 col_100p" style="padding: 20px 0px">
                                                               <div class="fl tr m0 p0 ff-ds3 fs14 clr666 prltv shqtycol140">
                                                                  <div id="shipping_8631489580" class="mb5 tr lh16  " tabindex="-1">
                                                                     Standard Shipping <span class="nowrap"><p>
                                                                     (6-16 business days)</p></span>
                                                                  </div>
                                                               </div>
                                                               <div class="fr tr m0 p0 ff-ds3 fs14 clr000 prcol140 ">FREE
                                                                  <!-- isFinalShippingFree = false --><!-- item.shippingInfo.selectedShippingService.shippingFree = false -->
                                                                  
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="fr col_100p clearfix">
                                                   <div class="fr col_100p prltv">
                                                      <div class="tr"><a class="action actionLink" data-irefid="8631489580" href="" ng-click="remove(item.itemId);" aria-label="Remove   Qty1-Conspicuity Tape 2”x150’ Approved DOT-C2 Reflective Trailer Red White" aria-describedby="262344463519_title">Remove</a><span class="mr10 ml10 linkClr">|</span></div>
                                                   </div>
                                                </div>
                                                <div class="ie7mb15"></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <p></p>
                        </div>
                     </div></div>
                     <div id="CartSummary" class="fr">
                        <div class="c-std">
                           <p></p>
                           <div id="asynccartsummary" class="tr  clearfix">
                              <div class="fr tr col_100p clearfix">
                                 <a class="hide" id="guestCartcalcLink" href="javascript:;"></a>
                                 <table class="fr ralign cartSummaryTable">
                                    <tbody>
                                       
                                       <tr>
                                          <td colspan="2">
                                             <div class="fr col_100p sumSep mt5 lh0 clearfix"></div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td width="320px" class="">
                                             <div class="tr fw-b fsz18px blackClr">Total: </div>
                                          </td>
                                          <td class="nowrap ">
                                             <div class="tr fw-b fsz18px blackClr normal" id="asyncTotal">${{total}}</div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td colspan="2">
                                             <div class="fr col_100p sumSep mt5 lh0 clearfix"></div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                              <div class="fr col_100p tr mb10 mt10 clearfix">
                                 <div class="fr ralign">    
                                    <a class="btn btn-prim" href="" ng-click="checkout();" role="button">Proceed to checkout</a>
                                 </div>
                                 <div class="fr ralign"><a id="contShoppingBtn" class="btn btn-ter" href="/home" >Continue shopping</a></div>
                              </div>
                           </div>
                           <p></p>
                        </div>
                     </div>
                  </div>
                  
               </div>
               <div id="rightSection" class="fr clearfix">
                  <div>
                     <div class="c-std">
                        <p></p>
                        <div class="pb15">
                           <h2 class="flarge fw-b cartsummarytitle">Cart summary</h2>
                           <span class="clr666 ff-ds2 fs10 mt5 nowrap"> 
                           </span>
                           <div aria-hidden="true" class="pt10">
                              <hr class="solidLine">
                           </div>
                        </div>
                        <div id="syncTotal" class="flarge fw-b "><span class="clr333">Total: </span><span class="clr333  normal ">${{total}}</span></div>
                        <div class="ptcbtn" >
                           <a  class="btn btn-prim" href="" ng-click="checkout();" role="button">Proceed to checkout</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
      <!--<div id="pageParams" data-debug="false" data-sitespeed="false" data-scdetails="" data-signinurl="https://signin.ebay.com/ws/eBayISAPI.dll?SignIn&amp;UsingSSL=1&amp;siteid=0&amp;co_partnerId=2&amp;pageType=2046448&amp;ru=http%3A%2F%2Fcart.payments.ebay.com%2Fsc%2Fview" data-uaurl="https://checkout.payments.ebay.com/ws/eBayISAPI.dll?UserAddressCmd&amp;addrid=eBay%3A3616684103016&amp;ru=http%3A%2F%2Fcart.payments.ebay.com%2Fsc%2Fadd%3Fsrt%3D01000100000050a6e4147893bc5988a863f14f98332bf8e4a6eb5d6ac9a44c354f32bf74be67d651469c74414bec4b3610581966b3687180c41c3b6d2bc74903197481ebd902ed39efb1290c058c91aa9a9e823dd6b0dc%26ssPageName%3DCART%3AATC%26item%3Diid%3A262344463519%2Cqty%3A1&amp;_trksid=p5713.m3151" data-issecurecart="false" data-buyerid="kemhalan-0" data-isguestbuyer="false" data-isuserinitemiignaltest="true" data-itemterm="Item availability, pickup time and miles to store are approximate, not guaranteed and may vary depending on your location."></div>-->
      <!--<form name="subForm" id="subForm" action="http://cart.payments.ebay.com/sc/add?srt=01000100000050a6e4147893bc5988a863f14f98332bf8e4a6eb5d6ac9a44c354f32bf74be67d651469c74414bec4b3610581966b3687180c41c3b6d2bc74903197481ebd902ed39efb1290c058c91aa9a9e823dd6b0dc&amp;ssPageName=CART:ATC&amp;item=iid:262344463519,qty:1#" method="post"></form>-->
      <div id="spwoverlayWrapper">
         <div id="spwOverlay">
            <div id="spwolyheader"></div>
            <div id="spwolybody" class="clearfix"></div>
            <div id="spwolyfooter"></div>
            <a id="spwolyCloseIcon" href="javascript:;"></a>
         </div>
      </div>
	  </div>
      <div id="overlayWrapper">
         <div id="Overlay">
            <div id="olyheader"></div>
            <div id="olybody" class="clearfix"></div>
            <div id="olyfooter"></div>
            <a id="olyCloseIcon" href="javascript:;"></a>
         </div>
      </div>
      <script src="./images/acrmtuhpdq1lfjrwo0qzn4gc5yz.js.download" type="text/javascript"></script><script src="./images/i4dd0phnzeztdg3oq5rc0wnpl2h.js.download" type="text/javascript"></script><script src="./images/drnmuhcxpi1uzps5ly2lhlcl0ap.js.download" type="text/javascript"></script><script src="./images/0l2dlk53pezvpdxy0jl02shldiz.js.download" type="text/javascript"></script><iframe src="javascript:false" title="" style="width: 0px; height: 0px; border: 0px;" src="./images/saved_resource.html"></iframe><script type="text/javascript">
         (function() {
         var Context = raptor.require('ebay.context.Context');
         Context.call(Context,{"site":0,"errors":{"enabled":false},"app":"shopcart","domain":".ebay.com","cobrand":2,"pool":"production","locale":"en_US_MAIN","features":{},"pid":2046448});
         })();
         
            $(document).ready(function(){
            
               $('pre.loadImgOnScroll').lazyLoad();
            
               initItemNotification({notificationCallTimeout: 2000,startTime:1, displayTime:7000, cmpWidth:240, leftPaddingOffset:10,showNotification:true});
               
                  startItemNotification();
                  
            });
          if(typeof GH!="undefined"&&GH){GH.urls={ autocomplete_js:"http://ir.ebaystatic.com/f/ol1e41pmee251bvjhybsauh5aaw.js",fnet_js:"https://c.paypal.com/webstatic/r/fb/fb-all-prod.akamai.pp2.min.js",ie8_js:"http://ir.ebaystatic.com/f/rbezfuzpu20wfd2kvejeb5adxyg.js",scandal_js:"http://ir.ebaystatic.com/f/4uow4cyy2q2sdoswfzoc53mvoiq.js" }; GH.GHSW={ raptor:"true",sandbox:0,emp:0,ac1:0,ac2:0,ac3:0,ac4:0,ac5:0,ac6:0,hideMobile:0,langSwitch:0,pool:0,ALERT_POPUPOFF:0,NEWALERT_POPUPOFF:0,newprofile:0,desktop_new_profile_service:"true",UNLOAD_Firefox:"true",UNLOAD_Chrome:"true",UNLOAD_IE:0,UNLOAD_Safari:0 };} if(typeof GH!="undefined" && GH){GH_config={"siteId":"0","geoLang":"[]",sin:1,id:'kemhalan-0',fn:'Kemy',pageId:2046448,ct:0};GH.init();}$(document).ready(function(){updateGlobalHeaderCartCount("1");});$rwidgets(['ui.Button','w1-1',{"id":"ptcBtnBottom"}],['ui.Button','w1-2',{"id":"contShoppingBtn"}],['ui.Button','w1-3',{"id":"ptcBtnRight"}],['ui.ExpandCollapse','w1-4',{"id":"ec_1_d"}],['ui.ExpandCollapse','w1-5',{"id":"ec_2_d"}],['ui.ExpandCollapse','w1-6',{"id":"ec_3_d"}],['ui.ExpandCollapse','w1-7',{"id":"ec_4_d"}],['ui.ExpandCollapse','w1-8',{"id":"ec_5_d"}]);new (raptor.require('raptor.tracking.core.Tracker'))({"psi":"A9kEBcWw*","rover":{"imp":"/roverimp/0/0/9","clk":"/roverclk/0/0/9","uri":"http://rover.ebay.com"},"pid":"p2046448"});raptor.require('raptor.tracking.idmap.IdMap').roverService("http://rover.ebay.com/idmap/0?footer");
      </script><!--[if lt IE 10]>
      <style>
         .scCont {margin: 0 auto !important; width: 1200px !important;}
         .lalign{margin-left:  15px !important;}
         .ralign{margin-right: 15px !important;}
         .talign{margin-top:    15px!important;}
         .balign{margin-bottom:15px!important;}
         #rightSection{width:20.76% !important;}
         #leftsection{width:77.54% !important;}
         #rightSection .c-std{padding:15px !important;}
         #SFLSection .c-std {float:left !important;width:885px !important;}
         #ptcRight a{width:85% !important;}
         .mw836px{width:836px !important;}
         .mw851px{width:851px !important;}
         .c-std {padding:15px !important;}
         .scbody {font-size: 16px !important;}
         #CartSummary {width:60% !important;}
         .itemInfoColcart140{width: 80.48% !important;}
         .itemInfoScocart140{width: 79.88% !important;}
         .itemInfoColsfl140{width: 80.72% !important;}
         .infocolcart140{width:46.72% !important;}
         .infoScocart140{width:45.27% !important;}
         .infocolsfl140{width:48.45% !important;}
         .qtyColWrapper140{width:360px !important;}
         .imgcol140{width: 144px !important; height: 144px !important; margin-right: 20px !important;}
         .img140 {width: 142px !important;height: 142px !important;}
         .h140 {height: 144px !important;}.w140 {width: 144px !important;}
         .lh140 {line-height: 144px !important;}
         .mh140 {max-height: 144px !important;}.mw140 {max-width: 144px !important;}
      </style>
      <![endif]--><!--<a href="http://cart.payments.ebay.com/sc/add?srt=01000100000050a6e4147893bc5988a863f14f98332bf8e4a6eb5d6ac9a44c354f32bf74be67d651469c74414bec4b3610581966b3687180c41c3b6d2bc74903197481ebd902ed39efb1290c058c91aa9a9e823dd6b0dc&amp;ssPageName=CART:ATC&amp;item=iid:262344463519,qty:1#" id="gh-bt" class="gh-hide-if-nocss" style="right: -34px;">-->
   </body>
</html>