<!DOCTYPE html>
<!-- saved from url=(0075)https://mbuy.ebay.com/xo?action=view&sessionid=532878511011&redirect=mobile -->
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
      <script src="angularjs/checkout.js"></script>
      <link rel="icon" href="https://pages.ebay.com/favicon.ico">
      <link rel="dns-prefetch" href="https://ir.ebaystatic.com/">
      <link rel="dns-prefetch" href="https://secureir.ebaystatic.com/">
      <link rel="dns-prefetch" href="https://i.ebayimg.com/">
      <link rel="dns-prefetch" href="https://rover.ebay.com/">
     
      <meta name="viewport" content="width=device-width">
      <meta name="format-detection" content="telephone=no">
      <title>Checkout</title>
      <link rel="stylesheet" type="text/css" href="./images/tploy3gdkq1d1jenn45ttxfrlid.css">
      <script>$ssgST=new Date().getTime();</script>
      <link rel="stylesheet" href="./images/desktop-a833d0.css">
   </head>
   <body class="xo desktop" ng-app="checkout" ng-controller="checkout" ng-init="init()">
      <div class="global-header">
         <div class="v-align2col ghCtr">
            <div class="gh-acc-exp-div gh-hide-if-nocss"><a id="gh-hdn-stm" class="gh-acc-a" href="https://mbuy.ebay.com/xo?action=view&amp;sessionid=532878511011&amp;redirect=mobile#mainContent">Skip to main content</a></div>
            <!--[if lt IE 9]>
            <div id="gh" role="banner" class="gh-IE8 gh-flex gh-pre-js gh-w gh-minH ">
               <![endif]-->
               <header id="gh" role="banner" class="gh-flex gh-pre-js gh-w gh-minH ">
                  <table class="gh-tbl">
                     <tbody>
                        <tr>
                           <td class="gh-td">
                              <!--[if lt IE 9]><a href="http://www.ebay.com/" _sp="m570.l2586" id="gh-la">eBay<img role="presentation" width=117 height=120 style='clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0' alt="" src="https://ir.ebaystatic.com/rs/v/apstidvcvu5pxlbxkphrrdo5iqv.png" id="gh-logo"></a><![endif]--><a href="http://www.ebay.com/" _sp="m570.l2586" id="gh-la">eBay<img role="presentation" width="250" height="200" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="./images/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo"></a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <!--[if lt IE 9]>
            </div>
            <![endif]--></header> 
         </div>
         <div class="v-align2col surveyCtr">
            <div id="survey" data-module-id="4276" class="mb15"><span>How do you like our checkout?</span><br><a id="surveylink" class="survey-link" data-click-id="7743" href="javascript:;" data-url="https://connect.ebay.com/srv/survey/a/cxo.ryp?ctx=uid%3Dkemhalan-0%26sessionid%3D532878511011%26profile%3DWEB&amp;title=0&amp;close=-1">Tell us what you think</a></div>
         </div>
      </div>
      <h1 class="page-title">Checkout</h1>
      <form >
         <input type="hidden" name="srt" value="010001000000505ecbac3da933419db2b7543c068236f354da169a39c92178b8d12629cf0ee228f20c9e81bc7ed3440a773660654e1f992dcc2808c31749adee188704e66d9646e774f7ffcc284ed5578b7ebc154f0e84">
         <div id="mainContent" tabindex="-1" role="main" class="row">
            <div class="left-section col-xs-8">
               <div id="alert-page" class="xo-alert skin-large" aria-live="polite"></div>
               <div id="payment-methods-ctr" class="top-lvl-module" data-module-id="4065">
<div class="pmt-mthds module">
   <fieldset>
      <div id="ppc-installments-ctr" data-expanded="false" data-expand-type="pmt-mthd" aria-live="polite" style="display: none;">
         <div id="ppc-installments" class="bdr-btm" style="opacity: 1; display: none;">
            <fieldset id="radiogroup_fsp">
               <div class="installments-container">
                  <div class="title ">Select your Easy Payments plan<a href="javascript:;" class="termsLink" role="button" data-action-type="openInstallmentCalculator" data-oly="https://reward.ebay.com/rwdwebui/calculator?enableApply=false&amp;amount=853.34&amp;currency=USD">See terms</a></div>
                  <div class="ppc-installment-panel">
                     <div class="install-opt table" data-element="ppc-installments" data-action-type="openMiniBrowser" data-oly="https://signin.ebay.com/ws/eBayISAPI.dll?SignInAuthRedirect3&amp;ru={ru}&amp;idp=104&amp;fl=1&amp;returnError=true&amp;taid=1005&amp;idpDisplay=3&amp;idpData=idp_authorize_uri%3Dhttps%3A%2F%2Fwww.paypal.com%2Fwebapps%2Fhelios%26action%3Dlogin%26cart_id%3D17J56508DA4707513%26client_id%3DZjI5ZTI0NmY0ZDY2Y2JlNjkwYWY3MDkwMjZiYTRkYzg%253D%26flow%3Dcredit%26redirect_uri%3D%26locale%3Den-US" data-ruval="https%3A%2F%2Fmbuy.ebay.com%2Fxo%3Faction%3DsetPayment%26sessionid%3D531394794017%26pmMethod%3DPAYPAL_CREDIT%26redirect%3Dmobile" data-idlt-flow="{idpDisplay}" data-incentive-dialog-id="incentive-dialog-data" data-refid="INSTALLMENT:MHV5FY3PBR" data-click-id="7302" data-open-hermes="true" id="mb-btn_1">
                        <div class="instd v-align2col">
                           <div class="rdo-col v-align2col"><input type="radio" name="ppc-install" id="rdo_INSTALLMENT:MHV5FY3PBR"><span class="custom-ctr custom-rb"></span></div>
                           <label class="lbl v-align2col clickable" for="rdo_INSTALLMENT:MHV5FY3PBR">
                              <div class="inst-msg"><span class="BOLD">$40.97 for 24 months, total payments of $982.95</span></div>
                              <div class="inst-submsg">$600 purchase req'd. 12.99% APR</div>
                           </label>
                        </div>
                        <div class="bdr-top ml35"></div>
                     </div>
                     <div class="install-opt table" data-element="ppc-installments" data-action-type="openMiniBrowser" data-oly="https://signin.ebay.com/ws/eBayISAPI.dll?SignInAuthRedirect3&amp;ru={ru}&amp;idp=104&amp;fl=1&amp;returnError=true&amp;taid=1005&amp;idpDisplay=3&amp;idpData=idp_authorize_uri%3Dhttps%3A%2F%2Fwww.paypal.com%2Fwebapps%2Fhelios%26action%3Dlogin%26cart_id%3D17J56508DA4707513%26client_id%3DZjI5ZTI0NmY0ZDY2Y2JlNjkwYWY3MDkwMjZiYTRkYzg%253D%26flow%3Dcredit%26redirect_uri%3D%26locale%3Den-US" data-ruval="https%3A%2F%2Fmbuy.ebay.com%2Fxo%3Faction%3DsetPayment%26sessionid%3D531394794017%26pmMethod%3DPAYPAL_CREDIT%26redirect%3Dmobile" data-idlt-flow="{idpDisplay}" data-incentive-dialog-id="incentive-dialog-data" data-refid="INSTALLMENT:2S5JR3NOOR" data-click-id="7302" data-open-hermes="true" id="mb-btn_2">
                        <div class="instd v-align2col">
                           <div class="rdo-col v-align2col"><input type="radio" name="ppc-install" id="rdo_INSTALLMENT:2S5JR3NOOR"><span class="custom-ctr custom-rb"></span></div>
                           <label class="lbl v-align2col clickable" for="rdo_INSTALLMENT:2S5JR3NOOR">
                              <div class="inst-msg"><span class="BOLD">$77.00 for 12 months, total payments of $923.81</span></div>
                              <div class="inst-submsg">$300 purchase req'd. 12.99% APR</div>
                           </label>
                        </div>
                        <div class=" ml35"></div>
                     </div>
                  </div>
                  <div class="title pt20">No Payments + No Interest if paid in full in 6 months<a class="termsLink" title="Click to see terms. Opens in a new window or tab." href="https://www.billmelater.com/cm/paypal/landers/15ebayPPCNB.html" target="_blank">See terms</a></div>
                  <div class="ppc-installment-panel">
                     <div class="install-opt table" data-element="ppc-installments" data-action-type="openMiniBrowser" data-oly="https://signin.ebay.com/ws/eBayISAPI.dll?SignInAuthRedirect3&amp;ru={ru}&amp;idp=104&amp;fl=1&amp;returnError=true&amp;taid=1005&amp;idpDisplay=3&amp;idpData=idp_authorize_uri%3Dhttps%3A%2F%2Fwww.paypal.com%2Fwebapps%2Fhelios%26action%3Dlogin%26cart_id%3D17J56508DA4707513%26client_id%3DZjI5ZTI0NmY0ZDY2Y2JlNjkwYWY3MDkwMjZiYTRkYzg%253D%26flow%3Dcredit%26redirect_uri%3D%26locale%3Den-US" data-ruval="https%3A%2F%2Fmbuy.ebay.com%2Fxo%3Faction%3DsetPayment%26sessionid%3D531394794017%26pmMethod%3DPAYPAL_CREDIT%26redirect%3Dmobile" data-idlt-flow="{idpDisplay}" data-refid="SAC_OFFER" data-click-id="7302" id="mb-btn_3">
                        <div class="instd v-align2col">
                           <div class="rdo-col v-align2col"><input type="radio" name="ppc-install" id="rdo_SAC_OFFER"><span class="custom-ctr custom-rb"></span></div>
                           <label class="lbl v-align2col clickable" for="rdo_SAC_OFFER">
                              <div class="inst-msg"><span class="BOLD">6 months to pay</span></div>
                              <div class="inst-submsg">$99 purchase req'd</div>
                           </label>
                        </div>
                        <div class=" ml35"></div>
                     </div>
                  </div>
               </div>
            </fieldset>
            <div class="ppc-installments-disclosure">
               <div class="xo-message disclosure">
                  <ul>
                     <li>PayPal Credit is subject to credit approval.</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="pmt-mthd last selected expanded" data-pmt-id="CC" data-action-type="expandWallet" data-incentive-dialog-id="incentive-dialog-data" data-click-id="7302" style="pointer-events: none;">
         <div class="pmt-mthd-l v-align2col pointer">
            <div class="rdo-col-r v-align2col clickable"><label class="pmt-label" for="CC"><span class="cc-icon mr8"></span>Credit or debit card</label></div>
            <input type="hidden" id="CC_complete" name="CC_complete" value="false">
         </div>
         
      </div>
      <div id="cc-edit-ctr" data-expanded="true" data-expand-type="pmt-mthd" aria-live="polite" style="display: block;">
         <div id="instr-details" class="bdr-top" data-expand-type="pmt-mthd" aria-live="polite" style="opacity: 1;">
            <div id="instr-error"></div>
            <div id="card-fields">
               <div class="cf-info form">
                  <div class="cf-row">
                     <span class="floating-label">
					 
					<div>
						<input id="cardNumber" name="cardNumber" class="input-field cf-card-number required" type="tel" aria-required="true" autocomplete="off" placeholder="Card number" ng-model = "cardNumber">
                       </div>
						
                        <div id="cf-card-number-error" aria-live="polite" class="error inline-field-error"></div>
                        <input type="hidden" value="" name="cardType" id="cardType" placeholder="">
                     </span>
                  </div>
                  <div class="cf-row">
                     <span class="floating-label floating-label--not-last">
                        
                        <input id="cardExp" name="cardExp" class="input-field cf-card-exp required" type="tel" aria-required="true" autocomplete="off" maxlength="7" placeholder="Expiration date (MM / YYYY)" ng-model = "expDate">
                        <div id="cf-card-exp-error" aria-live="polite" class="error inline-field-error"></div>
                     </span>
                     <span class="floating-label">
                     
                        <input id="securityCode" class="input-field cf-sec required" type="tel" autocomplete="off" placeholder="Security code 3 digits" name="securityCode" maxlength="4" ng-model = "cvvNumber">
                        <div id="cf-sec-error" aria-live="polite" class="error inline-field-error"></div>
                        <a id="cvv-tooltip" href="javascript:;" role="button" aria-controls="xo-tooltip" aria-expanded="false" data-action-type="openTooltip" data-oly-width="350" aria-label="Help on Security code" class="cvv-tooltip ml2"><b class="help-icon-grey"></b></a>
                        <div id="cvv-tooltip-content">
                           <div class="row cf-row pb10">
                              <div class="col-xs-4">
                                 <div class="visa-cvv"></div>
                              </div>
                              <div class="col-xs-8">
                                 <div>
                                    <div><b>Visa, MasterCard, or Discover</b></div>
                                    <div>This 3-digit number is on the back of the card next to the signature panel.</div>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-xs-4">
                                 <div class="amex-cvv"></div>
                              </div>
                              <div class="col-xs-8">
                                 <div>
                                    <div><b>American Express</b></div>
                                    <div>This 4-digit number is on the front of the card above the credit card number.</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </span>
                  </div>
                  <div class="cf-row">
                     <span class="floating-label floating-label--not-last">
                        <label for="cardHolderFirstName" class="floated">First name</label><input id="cardHolderFirstName" name="cardHolderFirstName" class="input-field cf-first-name required" type="text" autocomplete="off" ng-model="fname">
                        <div id="cf-first-name-error" aria-live="polite" class="error inline-field-error"></div>
                     </span>
                     <span class="floating-label">
                        <label for="cardHolderLastName" class="floated">Last name</label><input id="cardHolderLastName" name="cardHolderLastName" class="input-field cf-last-name required" type="text" autocomplete="off" ng-model="lname">
                        <div id="cf-last-name-error" aria-live="polite" class="error inline-field-error"></div>
                     </span>
                  </div>
               </div>
               <input type="hidden" id="cfChanged" name="cfChanged" value="false"><input type="hidden" id="cfModifiedFields" name="cfModifiedFields" value="">
            </div>
            
            <div id="billing-address-ctr" class="cf-addr">
               <div id="billing-hdr">
                  <div class="cf-addr-ttl cc-section-title-text mb8">Billing address</div>
               </div>
               <div id="billing-edit-ctr">
                  <input type="hidden" id="useExisting" name="useExisting" value="true">
                  <div class="ba-read-version">
                     <table class="table table-bordered" style="margin-bottom:0">
  
    <tbody>
    <tr ng-repeat="entry in details">
    <td>
    {{entry}}
    </td>
    </tr>
    </tbody>
  </table>
                  </div>
                  <input type="hidden" id="addressLine1" name="addressLine1" value="101 E. San Fernando"><input type="hidden" id="addressLine2" name="addressLine2"><input type="hidden" id="city" name="city" value="San Jose"><input type="hidden" id="country" name="country" value="US"><input type="hidden" id="state" name="state" value="CA"><input type="hidden" id="postalCode" name="postalCode" value="95112"><input type="hidden" id="phoneNumber" name="phoneNumber" value="5107366847">
               </div>
            </div>
            <div class="cf-cta">
               <div class="action v-align2col"><a href="/home" class="cf-cancel mr15" role="button"  >Cancel</a></div>
               <input type="hidden" id="ccPaymentInstrumentId" name="ccPaymentInstrumentId"><input type="hidden" id="afChanged" name="afChanged" value="false">
            </div>
         </div>
      </div>
   </fieldset>
</div>

			   <script>
    'use strict';
    // @mwoo, XOAPP-16511, 2016.07.06
    // We cannot use jQuery at setup time because jQuery has not been loaded yet
    //
    // For extra safety where if, somehow, the temp object is still available,
    // which possibly indicate that event listeners were not removed completely,
    // run cleanup() and delete window.checkout.temp first before proceeding
    if (window.checkout && window.checkout.temp) {
        if (window.checkout.temp.cleanup) {
            window.checkout.temp.cleanup();
        }
        delete window.checkout.temp;
    }
    if (!window.checkout) {
        window.checkout = {};
    }
    window.checkout.temp = {
        showSpinner: function () {
            var paymentMethodsDiv = document.querySelector('#payment-methods-ctr .pmt-mthds');
            var paymentMethodCtrMask = document.querySelector('.payment-methods-ctr-mask');
            var spinnerDiv;
            if (!paymentMethodCtrMask) {
                paymentMethodCtrMask = document.createElement('div');
                spinnerDiv = document.createElement('div');
                spinnerDiv.className = 'spinner';
                spinnerDiv.setAttribute('aria-label', 'Busy animation');
                spinnerDiv.setAttribute('role', 'img');
                spinnerDiv.setAttribute('aria-hidden', false);
                paymentMethodCtrMask.className = 'payment-methods-ctr-mask';
                paymentMethodsDiv.appendChild(paymentMethodCtrMask);
                paymentMethodsDiv.appendChild(spinnerDiv);
            }
        },
        removeSpinner: function () {
            var paymentMethodCtrMask = document.querySelector('.payment-methods-ctr-mask');
            var spinnerDiv = document.querySelector('#payment-methods-ctr .spinner');
            if (paymentMethodCtrMask) {
                paymentMethodCtrMask.parentNode.removeChild(paymentMethodCtrMask);
            }
            if (spinnerDiv) {
                spinnerDiv.parentNode.removeChild(spinnerDiv);
            }
        },
        changeHandler: function (e) {
            var checkoutTemp = window.checkout.temp;
            var target;
            if (checkoutTemp && typeof checkoutTemp.paymentMethod === 'undefined') {
                target = e.currentTarget;
                checkoutTemp.paymentMethod = target.getAttribute('id') || null;

                // Remove the checked state
                target.checked = false;
                checkoutTemp.showSpinner();
            }
        },
        getPaymentMethodsInput: function () {
            return document.querySelectorAll('#payment-methods-ctr input[name=pmtMthd]');
        },
        getPaymentMethodsLogo: function () {
            return document.querySelectorAll('#payment-methods-ctr .pmt-logo');
        },
        addEventListeners: function () {
            var arr = this.getPaymentMethodsInput();
            for (var i = 0; i < arr.length; i++) {
                arr[i].addEventListener('change', window.checkout.temp.changeHandler);
            }
        },
        addLowResClassToLogo: function () {
            var arr = this.getPaymentMethodsLogo();
            for (var i = 0; i < arr.length; i++) {
                arr[i].className += ' low-res';
            }
        },
        removeEventListeners: function () {
            var arr = this.getPaymentMethodsInput();
            // Clean up change listener set inline in paymentMethod container
            for (var i = 0; i < arr.length; i++) {
                arr[i].removeEventListener('change', window.checkout.temp.changeHandler);
            }
        },
        cleanup: function () {
            this.removeEventListeners();
            this.removeSpinner();
        }
    };
    window.checkout.temp.addEventListeners();

    // Wrapped in timeout so that most users in fast connection likely will not
    // see low-res logos - in case where logo sprite is locally cached already
    //
    // The approach of checking the existence of the cached sprite introduces
    // more complicated code, especially because we use background image instead
    // of img tag.
    //
    // setTimeout is a reasonable compromise. The 1000ms value is decided based
    // on go/sitespeed data where the median client time is about 600ms.
    setTimeout(function () {
        if (window.checkout && window.checkout.temp && window.checkout.temp.addLowResClassToLogo) {
            window.checkout.temp.addLowResClassToLogo();
        }
    }, 1000);

    // When all images are loaded, remove low-res class from logo elements so
    // that we see the hi-res logos
    window.onload = function () {
        var arr = document.querySelectorAll('#payment-methods-ctr .pmt-logo');
        for (var i = 0; i < arr.length; i++) {
            arr[i].className = arr[i].className.replace(/low-res/, '');
        }
    };

    setTimeout(function() {
        // Based on go/sitespeed, 95th total client time is about 6000ms.
        // Adding 2000ms cushion --> thus, 8000ms timeout value
        //
        // We need the undefined checks here because on non-very-slow networks,
        // window.checkout.temp object may be deleted already when code runs in
        // this timeout
        if (window.checkout && window.checkout.temp && window.checkout.temp.cleanup) {
            window.checkout.temp.cleanup();
        }
    }, 8000);
	
	
</script></div>
               <div id="shipping-address-ctr" class="top-lvl-module" data-module-id="4049">
			   <div class="shipping-address module "><div class="main-sa-info v-align2col">
                  <h2 class="section-title">Ship to</h2>
                     <table class="table table-bordered" style="margin-bottom:0">
  
    <tbody>
    <tr ng-repeat="entry in details">
    <td>
    {{entry}}
    </td>
    </tr>
    </tbody>
  </table>
               </div>   
			   </div>
			   </div>
               <div id="cart-details-ctr" class="top-lvl-module" data-module-id="4066">
   <h2 class="section-title">Review items and shipping</h2>
   <div class="seller-row row" id="s_0" data-sellerid="toolsmithdirect">
      <div class="seller-bucket-container module">         
         <div id="seller-message-ctr" class="seller-message-ctr">
            <div class="write bdr-top form  dis-none">
               <label for="seller-message" class="access-aid">Message:</label>
               <textarea id="seller-message" class="seller-message" maxlength="500" placeholder="We'll include this message when you pay."></textarea>
               <div class="sm-cta">
                  <div class="note v-align2col">
                     <span class="slr-msg-countdown">0</span> <span class="slr-msg-countdown-total"> / 500</span>
                     <div class="warning-message">This message will only send after the order is placed.</div>
                     <br>
                  </div>
                  <div class="sm-cancel-ctr v-align2col"><a href="javascript:;" class="sm-cancel" role="button" data-action-type="openSellerMessage">Cancel</a></div>
                  <div class="sm-save-btn v-align2col"><button type="button" class="btn btn--primary" data-async-type="addSellerMessage">Add</button></div>
               </div>
            </div>
         </div>
         <div class="seller-item-group" data-lineitemid="BId-{&quot;ItemId&quot;:291122144800};Domain-ebay;LId-25208756898" data-skuid="647094">
            <div class="item-row" data-itemid="291122144800" ng-repeat = "item in cart track by $index">
               <div class="d-table">
                  
                  <div class="item-info-section d-tcell">
                     <div class="row item-details">
                        <div class="col-xs-9 item-title">{{item.itemName}}</div>
                        <div class="item-price col-xs-3"><span>${{item.price}}</span></div>
                        
                     </div>
                     <div class="qty2">
                        <div class="xo-item-qty form form--small">
                           <label>Qty: </label><input id="291122144800_0" type="number" min="1"
						   class="qty-input " aria-label="Quantity" value = {{item.orderedquantity}} disabled>
                           </div>
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
                  
            </div>
            <div class="right-rail col-xs-4 right-rail-toppadding">
               <div class="right-rail-content">
                  <div>
                     <div id="cart-summary-ctr" data-module-id="4067" data-disabled-cta-msg="{&quot;ADD_ADDRESS&quot;:{&quot;model&quot;:{&quot;errors&quot;:[{&quot;severity&quot;:&quot;ERROR&quot;,&quot;title&quot;:&quot;Add your shipping details and click Add&quot;,&quot;htmlTitle&quot;:false,&quot;id&quot;:0}]},&quot;className&quot;:&quot;page-alert--high&quot;,&quot;ariaLabel&quot;:&quot;High Priority&quot;},&quot;ADD_CARD&quot;:{&quot;model&quot;:{&quot;errors&quot;:[{&quot;severity&quot;:&quot;ERROR&quot;,&quot;title&quot;:&quot;Add your credit or debit card details and click Done. You will be able to review this information before payment is submitted.&quot;,&quot;htmlTitle&quot;:false,&quot;id&quot;:0}]},&quot;className&quot;:&quot;page-alert--high&quot;,&quot;ariaLabel&quot;:&quot;High Priority&quot;},&quot;PAYPAL_VALIDATION&quot;:{&quot;model&quot;:{&quot;errors&quot;:[{&quot;severity&quot;:&quot;ERROR&quot;,&quot;title&quot;:&quot;Log in to PayPal or PayPal Credit to use gift cards, coupons, or eBay Bucks&quot;,&quot;htmlTitle&quot;:false,&quot;id&quot;:0}]},&quot;className&quot;:&quot;page-alert--high&quot;,&quot;ariaLabel&quot;:&quot;High Priority&quot;},&quot;NO_PAYMENT_METHOD&quot;:{&quot;model&quot;:{&quot;errors&quot;:[{&quot;severity&quot;:&quot;ERROR&quot;,&quot;title&quot;:&quot;Select a payment option&quot;,&quot;htmlTitle&quot;:false,&quot;id&quot;:0}]},&quot;className&quot;:&quot;page-alert--high&quot;,&quot;ariaLabel&quot;:&quot;High Priority&quot;},&quot;EDIT_CARD&quot;:{&quot;model&quot;:{&quot;errors&quot;:[{&quot;severity&quot;:&quot;ERROR&quot;,&quot;title&quot;:&quot;Update your credit or debit card details and click Done. You will be able to review this information before payment is submitted.&quot;,&quot;htmlTitle&quot;:false,&quot;id&quot;:0}]},&quot;className&quot;:&quot;page-alert--high&quot;,&quot;ariaLabel&quot;:&quot;High Priority&quot;},&quot;EDIT_ADDRESS&quot;:{&quot;model&quot;:{&quot;errors&quot;:[{&quot;severity&quot;:&quot;ERROR&quot;,&quot;title&quot;:&quot;Update your shipping details and click Save&quot;,&quot;htmlTitle&quot;:false,&quot;id&quot;:0}]},&quot;className&quot;:&quot;page-alert--high&quot;,&quot;ariaLabel&quot;:&quot;High Priority&quot;}}">
                        <h2 class="section-title access-aid">Cart Summary</h2>
                        
                        <div class="cart-order">
                           <div id="cart-total" class="row">
                              <table class="w100p">
                                 <tbody>
                                    <tr class="hide">
                                       <th>label</th>
                                       <th>value</th>
                                    </tr>
                                    <tr data-type="TOTAL">
                                       <td class="l-align">Order total</td>
                                       <td class="bold nowrap"><span>${{total}}</span></td>
                                    </tr>

                                 </tbody>
                              </table>
                           </div>
                           <div id="call-to-action"><button type="submit"  class="btn btn--primary xo-btn"  ng-click="confirm()">Confirm and pay</button></div>
                        </div>
                     </div>
                  </div>
                  
               </div>
            </div>
         </div>
         <input type="hidden" id="uLoc" name="uLoc"><script type="text/javascript">(function(){var myEbayTokenValue = {"value":"v^1.1#i^1#r^1#I^3#p^3#f^0#t^Ul4yXzY0MjMwQzIxM0E0QjAxODNGNzdEMEVDOTU1NUI0Q0Y4XzhfMSNFXjI2MA==","expires_in":72001,"expiration":1476391803033,"type":"user"};var myClientId="xonyxwgt";if(!window.ebayAuthTokens) window.ebayAuthTokens={};if(myClientId && myEbayTokenValue) window.ebayAuthTokens[myClientId]=myEbayTokenValue;window.ebayAllowedUrlScheme={"startsWith":"*","endsWith":"ebay.com"};window.correlation_session="86aebaa51570abc01e84260cfd53f6c4";})();</script>
      </form>
      
      <div id="overlay" class="fade">
         <a href="javascript:;" class="icon-close" data-action-type="closeOly"></a>
         <div id="overlay-content"></div>
      </div>
      <div id="pg-mask" class="oly-m fade"></div>
      <div aria-live="polite">
         <div class="overlay-left tooltip" id="xo-tooltip" style="display: none;"></div>
      </div>
      <div class="gh-footer-a11y hide" aria-hidden="true" data-a11y-new-tab="opens in new window or tab"></div>
      <!--[if lt IE 9]>
      <div id="glbfooter" role="contentinfo" class="gh-w gh-flex">
         <![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
        
      
   </body>
</html>