<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- saved from url=(0037)http://cgi5.ebay.com/ws/eBayISAPI.dll -->
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!--eBay V3- msxml 6.0 XXXXXXXXXXXXXXXXXXXXXXXXXX-->
      <meta name="language" content="English">
      <title>eBay &gt; 
         Create your listing
      </title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <!-- <script src="javascript/signin.js" type="text/javascript"></script> -->
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
      <script src="angularjs/sellReview.js"></script>
      <script type="text/javascript" language="JavaScript">var _sT = new Date().getTime();</script> <script type="text/javascript" language="JavaScript">var pageName='SYI_3_F_Describe';var pageType='';var siteId='0';var cobrandId='2';var server=location.hostname.toLowerCase();var channel='eBay';var colorScheme='transaction';var imagePath='http://pics.ebaystatic.com/aw/pics/';var scriptPath='http://include.ebaystatic.com/aw/pics/';var stylePath='http://include.ebaystatic.com/aw/pics/';var helpPath='http://pages.ebay.com/help/';var jsPath=scriptPath;var ebayToolbox='true';var includeHost='http://include.ebaystatic.com/aw/pics/';var extDYIJs='http://include.ebaystatic.com/js/e987/us/features/syi3/dyi_t2_e9872us.js'; var iDir='http://pics.ebaystatic.com/aw/pics/'; var isTemplateFlow=false; var previewPageTitle='View your description'; var previewCloseWindowButtonText='Close Window'; var siteid=0; var SiteId='0'; var isMotors=false; var isEditMode=true; </script><script type="text/javascript" src="./images/rtm"></script><script type="text/javascript" src="./images/dyi_t2_e9872us.js.download"></script><script type="text/javascript" src="./images/bubble_help_data_e9872us.js.download" id="bh_tag"></script>
   </head>
   <body ng-app="sellReview" ng-controller="sellReview">
      <div id="content" class="emlcontent">
      <div class="pagewidth">
      <div class="pageminwidth">
         <div class="pagelayout">
            <div class="pagecontainer">
               <!-- Begin eBay Header TEST --><!--2016-09-22 16:02:06,,, jqp6d72f+45=d,RcmdId NewListingSYI3_CatalogSearchResults,RlogId p4p%7Codlwc%3D9ipt0g66%60%2851%3Bg-15788023854-0x180-->
               <div class="shreskin-global-header">
                  <div>
                     
                     <link href="./images/oh20iy2dxq20njgeagi0gmkhyuw.css" type="text/css" rel="stylesheet">
                     <div class="gh-acc-exp-div gh-hide-if-nocss"><a id="gh-hdn-stm" class="gh-acc-a" href="http://cgi5.ebay.com/ws/eBayISAPI.dll#mainContent">Skip to main content</a></div>
                     <!--[if lt IE 9]>
                     <div id="gh" role="banner" class="gh-IE8 gh-flex gh-pre-js gh-w gh-minH ">
                        <![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
                        <header id="gh" role="banner" class="gh-flex gh-pre-js gh-w gh-minH ">
                           <!--<![endif]-->
                           <table class="gh-tbl">
                              <tbody>
                                 <tr>
                                    <td class="gh-td">
                                       <!--[if lt IE 9]><a href="http://www.ebay.com/"  _sp="m570.l2586" id="gh-la">eBay<img role="presentation"  width=117 height=120 style='clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0'  alt="" src="http://ir.ebaystatic.com/rs/v/apstidvcvu5pxlbxkphrrdo5iqv.png" id="gh-logo"></a><![endif]--><!--[if (gte IE 9)|!(IE)]><!--><a href="http://www.ebay.com/" _sp="m570.l2586" id="gh-la">eBay<img role="presentation" width="250" height="200" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="./images/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo"></a><!--<![endif]-->
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                           <!--[if lt IE 9]>
                     </div>
                     <![endif]--><!--[if (gte IE 9)|!(IE)]><!--></header><!--<![endif]--><!--ts:2016.10.01.06:59--><!--rq:--><!--rvr:94RUG5-->
                     <script src="./images/btozt5kwui1jbeo4irdyb4hudun.js.download" type="text/javascript"></script><script type="text/javascript">
                        GH={init:function(){},log:function(){}};
                     </script><script type="text/javascript">if(typeof GH!="undefined" && GH){GH_config={"siteId":"0","geoLang":"[]",sin:1,ct:0,pageId:2685,notifCfg:null,catURL:'http://include.ebaystatic.com/categoryjs/114/en_US_MAIN/category_114en_US_MAIN0.js',impId:'AAi88q7Q*'};GH.init();}</script><script type="text/javascript">var RoverDomainBaseUrl = 'http://rover.ebay.com';var svrGMT = 1475455629631;var scbps=0;var scPageName='NewListing:2685';</script>
                  </div>
                  <!--@sghp@ headerStyle=MIN:DEFAULT::NOSKIPLINK @eghp@-->
               </div>
               <!-- End eBay Header --><iframe name="rtm" id="rtm" height="0" width="0" frameborder="0" scrolling="no" title="Real time messaging" src="./images/saved_resource.html"> </iframe>
               <link rel="stylesheet" href="./images/main_e9871us.css" type="text/css">
               <link rel="stylesheet" href="./images/ebaystd_e9871us.css" type="text/css">
               <link rel="stylesheet" href="./images/main_e9871us(1).css" type="text/css">
               <link rel="stylesheet" href="./images/dyi_New_specStyles_e9871us.css" type="text/css">
               <link rel="stylesheet" href="./images/LeftNav_e9871us.css" type="text/css">
               <!--[if IE]>
               <link rel="stylesheet" href="http://include.ebaystatic.com/css/e987/us/tbx/darwin/syi/mainIEFixes_e9871us.css" type="text/css"/>
               <![endif]-->
               <style type="text/css">
                  .marginTop, itm_spec {
                  margin-top: 0px!important;
                  }              
                  #ItemSpecifics_sec {    
                  padding-top: 0px!important;
                  }
               </style>
               <script type="text/javascript" language="JavaScript" src="./images/dyi_v_e9851us.js.download"> </script><script type="text/javascript" language="JavaScript" src="./images/dyi_t_e9872us.js.download"> </script><script type="text/javascript" language="JavaScript">
                  (function(){ 
                     var c = ebay.oDocument.addConfig(new EbayConfig('Selling.HelpAssistant'));c.bDisableWinResize=false; c.sFrameName='hlpFrm'; c.sMainLayerName='content'; c.sHeaderLayerName='hlpFrmHdr'; c.sCloseLinkElemName='hlpFrmHdrLnk'; c.aMainLinkNames=['helpBtnlink']; c.sHelpUrlPrefix='http://pages.ebay.com/help/sell/contextual/inframe/'; c.sDefaultURL='http://pages.ebay.com/help/sell/contextual/inframe/creating-your-listing.html'; c.bShowOnLoad=false; c.sHelpElemName='helpStat'; c.sLiveHelpHeaderLayerName='liveHlpHdr'; c.sLiveHlpLnk='liveHlpLnk'; c.sLiveHlpWidth=472; c.sLiveHlpHeight=320; c.bSearchEnabled='true'; c.sSearchTxtBox='hlpSearchTxtBox'; c.sSearchBtn='hlpSearchBtn'; c.sSearchUrl='http://cgi6.ebay.com/ws/eBayISAPI.dll?MfcISAPICommand=HelpSearchNextGen&cId=3&searchString='; 
                  })();
                  
                  (function(){ 
                     var c = ebay.oDocument.addConfig(new EbayConfig('Selling.BubbleHelp'));c.bOnFocus=true; c.sStartLyrName=''; c.sLayerHTMLName='hlpBub'; c.sContentLayerName='content'; c.useIfShim=true; c.sTopLeftClass='hlpBubTopLft'; c.sTopRightClass='hlpBubTopRgt'; c.sBottomLeftClass='hlpBubBtmLft'; c.sBottomRightClass='hlpBubBtmRgt'; c.sCloseBubbleLink='hlpBubClose'; c.sMoreHelpLink='moreBubHlp'; c.sCustomizeLink='customizeForm'; c.sMoreHelpHTML='<a href="#" name="moreBubHlp">More help<b class="acc-hdn"> - opens in a new window or tab</b></a> '; c.sCustFormHTML='<a href="#" name="customizeForm">Show/Hide Options</a>'; c.sBubFooterClass='hlpBubFooter'; c.sHelpDataUrl='http://cgi5.ebay.com/ws/eBayISAPI.dll?Syi3BubbleHelp'; c.sCustomizeFormUrl='http://cgi5.ebay.com/ws/eBayISAPI.dll?NewListing&itemid=&sid=636650283311&cpg=6&js=1&aid='; c.sPage='SYI3UseAllBubbleHelp'; c.bDialog=false; c.sBlock='dyi'; c.sMetaId='15032'; c.sTopTableHTML='<table cellpadding="0" cellspacing="0" border="0" summary="" width="300"><tr><td class="hlpBubNW" rowspan="2"></td><td class="hlpBubNSpacer" colspan="2"></td><td class="hlpBubNE" rowspan="2"></td></tr><tr><td class="hlpBubN" colspan="2"></td></tr><tr><td class="hlpBubW"></td><td class="hlpBubText"><#1#></td><td class="hlpBubText" valign="top"><a href="#" name="hlpBubClose"><img border="0" alt="Close" src="http://pics.ebaystatic.com/aw/pics/buttons/btnClose_16x16.gif"></a></td><td class="hlpBubE"></td></tr>'; c.sTopRgtBtmRow='<tr><td class="hlpBubSW"></td><td class="hlpBubS" colspan="2"></td><td class="hlpBubSE" rowspan="2"></td></tr>'; c.sTopLftBtmRow='<tr><td class="hlpBubSW" rowspan="2"></td><td class="hlpBubS" colspan="2"></td><td class="hlpBubSE"></td></tr>'; c.sBtmTableHTML='<tr><td class="hlpBubSSpacer" colspan="2"></td></tr></table>'; c.sBubbleHelpJSUrl='http://include.ebaystatic.com/js/e987/us/features/syi3/bubble_help_data_e9872us.js'; 
                  })();
                  
                  (function(){ 
                     var c = ebay.oDocument.addConfig(new EbayConfig('Selling.Alert'));c.sAlertMsg='If you leave this page, you may lose some or all of your changes.'; c.cancelBtn='aidZ'; c.cancelLink=['Cancelrevision','CancelLink1']; 
                  })();
                  
                  (function(){ 
                     var c = ebay.oDocument.addConfig(new EbayConfig('Selling.Common'));c.bOnFocus=true; c.sStartLyrName='Start of layer'; c.syiComment='commentButton'; c.syiCmdForm='syiCommentsForm'; c.syiCmdInp='syiCommentsContent'; c.sclsid='AorRJitClose'; c.sAddorRemJit='CloseJitMessage'; c.sSyi1CEnabled=true; c.isCollapseEnabled=false; c.bCommentsEnabled=false; c.bIsPkgSizeHide=false; c.bShowiOS8Message=false; c.siOS8msg='Looks like there\'s a problem uploading photos with Safari in iOS 8. Apple will have this fixed soon. To finish your listing now, try another browser or the eBay app.'; c.ebayPlusBubUrl='http://shiptrack.ebay.com/ws/eBayISAPI.dll?HandlingTimePreference'; 
                  })();
                  
                  (function(){ 
                     var c = ebay.oDocument.addConfig(new EbayConfig('Selling.Describe.ABINPrice'));c.binPrice='binPrice'; c.startPrice='startPrice'; c.sABINPriceVal='abinPrice'; c.sABINSugLyr='abinSug'; 
                  })();
                  liveHelp_ckTag='0'; liveHelp_ckTag1=liveHelp_ckTag; liveHelp_imgURL='http://pics.ebaystatic.com/aw/pics/help/livehelp/syi3_livehelp_createlisting.gif'; liveHelp_URL='http://ocs.ebay.com/ws/eBayISAPI.dll?ContactUsNextGen&format=1&pid=581'; liveHelp_URL1=liveHelp_URL; liveHelp_imgURL1='http://pics.ebaystatic.com/aw/pics/help/livehelp/paymentandshipping_costsection.gif'; 
                  (function(){ 
                     var c = ebay.oDocument.addConfig(new EbayConfig('Selling.SOJTagging'));c.sTagUrl='http://cgi5.ebay.com/V4Ajax?svcid=SYI_SOJ_TAGGING&reqttype=JSON&resptype=JSON&request='; c.bTagAllFields=false; c.sFormName='selling'; c.sCommand='NewListing'; c.isCatalog=1; c.isUpEntryPts=true; c.sDefTab='useStandardLink'; c.bIsLoadfrmDYI=false; c.draftId='636650283311'; 
                  })();
               </script>
               
                  <div class="brdcmb" id="brdcmb">
                     <b>
                        <div class="level1">SELL YOUR ITEM</div>
                        <div class="inactive">
                           1. TELL US WHAT YOU'RE SELLING
                        </div>
                        <div class="inactive">2. CREATE YOUR LISTING</div>
                        <div class="active">
                           3. REVIEW YOUR LISTING
                        </div>
                     </b>
                  </div>
                  <div class="clr"></div>
                  <div class="areaTitleBox" id="areaTitleBox">
                     <div class="areaTitle">
                        <a name="mainContent" id="mainContent" tabindex="-1"></a>
                        <h1>
                           Create your listing
                        </h1>
                     </div>
                     <div class="areaCtl">
                        <div class="headerLnks"><span class="pipespace"><a href="javascript:{}" id="sSaveDraftLater" onclick="ebay.run(this.id,&#39;onclick&#39;);return false;" class="spacesyi">Save for later</a></span><span class="pipespace"><a href="http://pages.ebay.com/help/sell/contextual/inframe/creating-your-listing.html" id="helpBtnlink" onclick="ebay.run(this.id,&#39;onclick&#39;);return false;" class="spacesyi">Help</a></span><a href="http://ocsnext.ebay.com/ocs/eua?pid=581" id="cntctusLnk" onclick="ebayShowPopupWindow(this.href, &#39;&#39;, 472, 320, &#39;no&#39;, &#39;no&#39;, &#39;no&#39;, &#39;no&#39;, &#39;no&#39;); return false;;" class="cntctimg">Contact us<b class="acc-hdn"> - opens in a new window or tab</b></a></div>
                     </div>
                     <div class="clr"></div>
                  </div>
                  <div id="page_message"></div>
                  <div id="cssError_sec">
                     <!--DIV-->
                  </div>
                  
                  
                  <div id="TleCate">
                     <div class="ttlPanel-n">
                        <div class="ttlPanel-e">
                           <div class="ttlPanel-w"></div>
                        </div>
                     </div>
                     <div class="ttlPanel-head">

                        <h2 class="lst">Describe your item</h2>
                        
                     </div>
                     <div class="secCnt">
                        
                        <div id="crelsttle_sec">
                        </div>
                       
                        <div id="itmCondsec_sec">
                           <div class="idtHrz">
                              <div class="verSpc"> </div>
                              <div style="padding-bottom:3px"><img src="./images/imgRequired.gif" alt="Required"> <span id="_ttl" class="inpLbl"><label for="itemCondition">Item Name:
                                 </label></span>
                              <span ng-model = "itemName"><%= name%></span>
                              </div>
                              

                              <div style="padding-bottom:3px"><img src="./images/imgRequired.gif" alt="Required"> <span id="_ttl" class="inpLbl"><label for="itemCondition">Item Description:
                                 </label></span>
                              <span ng-model = "itemDesc"><%= desc%></span>
                              </div>
                              

                              <div style="padding-bottom:3px"><img src="./images/imgRequired.gif" alt="Required"> <span id="_ttl" class="inpLbl"><label for="itemCondition">Price:
                                 </label></span>
                              <span ng-model = "itemPrice"><%= price%></span>
                              </div>

                              <div style="padding-bottom:3px"><img src="./images/imgRequired.gif" alt="Required"> <span id="_ttl" class="inpLbl"><label for="itemCondition">Quantity:
                                 </label></span>
                              <span ng-model = "itemQuantity"><%= quantity%></span>
                              </div>

                              <br>
                              <br>
                              <br>

                             <img src="./images/imgRequired.gif" alt="Required"> indicates a required field
                           <br>
                           
                           
                           <div class="idtHrz">
                              <span id="prGuid_Ajax">
                                 <div id="prGuiDisDiv" class="prGuiDis" style="display:none;">
                                    <div class="verSpc"> </div>
                                 </div>
                              </span>
                           </div>

                           <div class="prGuiDis" id="sherpaDisclaimer" style="padding-left:20px; display:none"> † &nbsp;Price recommendation and ranges, if any, are based on similar items in the same condition that recently sold or completed. Actual sale price for your item is not guaranteed. Actual sale prices vary.
                           </div>
                        </div>
                        <div class="mgnBtmSm">
                           <div class="secAct">
                              <table cellpadding="0" cellspacing="0" border="0" summary="">
                                 <tbody>
                                    <tr>
                                       <td nowrap="">
                                       <span class="btn" id="aidZ1_btnLbl"><span class="btn" id="aidZ1_btnLbl">
                                          <input type="submit" class="btnMain" value="continue" style="color: blue" ng-click="addItem();">
                                          </span></span>
                                       <!-- <button type="submit" class="btnMain"  onclick="ebay.run(this.name,&#39;onclick&#39;);" onkeydown="ebay.run(this.id,&#39;onkeydown&#39;);return false;"><span class="btn" id="aidZ1_btnFrm"><span class="btn" id="aidZ1_btnLbl">
                                          Continue
                                          </span></span></button> -->
                                       </td>
                                       <td>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
                                       <td nowrap=""><a href="javascript:{}" id="sSaveDraftLater_Bottom" onclick="ebay.run(this.id,&#39;onclick&#39;);return false;" class="spacesyi">Save for later</a></td>
                                       <td width="100%"><img src="./images/s.gif" width="1" height="1" alt=" "></td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        
                           </div>
                         </div>
                         <!-- </form> -->
                        <div class="help">
                           
                        </div>
                        <div style="display:none">
                           <!--DIV-->
                        </div>
                        <script type="text/javascript" language="JavaScript">
                           (function(){ 
                              var c = ebay.oDocument.addConfig(new EbayConfig('Selling.Describe.AddOptions'));c.aLinks=    ['GotoTitleOptions:31:800:500','GotoPicOptions:32:800:500','GotoDescOptions:33:800:500','GotoFormatOptions:34:800:500','GotoPaymentOptions:36:800:500','GotoShippingOptions:35:800:500','GotoOtherOptions:37:800:500']
                                  ; c.sActionValue='42'; c.sLayerElemName='dialog'; c.sContentLayerName='content'; c.sIframeTitle='                   Add or remove options               '; 
                           })();
                           
                           (function(){ 
                              var c = ebay.oDocument.addConfig(new EbayConfig('Selling.Describe.Preview'));c.sLayerElemName='dialog'; c.sContentLayerName='content'; c.width=885; c.height=767; c.sIframeClass='dlgBdr'; c.sUrl='http://cgi5.ebay.com/ws/eBayISAPI.dll?NewListing&sid=636650283311&userid=&pass=&itemid=&originCpg=6&cpg=108&aid=71&ej2child=true&js=1&previewTab=PreviewItem'; c.sIframeTitle='Search preview'; 
                           })();
                           
                           (function(){ 
                              var c = ebay.oDocument.addConfig(new EbayConfig('Selling.Describe.EnhancedViewPopup'));c.iWidth=675; c.iHeight=590; c.iLeft=200; c.iTop=100; c.sUrl='http://previewitem.ebay.com/ws/eBayISAPI.dll?PreviewItemV4&SessionId=636650283311&SeqId=1416319491&md=1&noPreviewHeader=1'; c.bToolbar=false; c.bStatus=true; c.bScrollbars=true; c.bLocation=false; c.bResizable=true; c.bMenubar=false; 
                           })();
                           
                           (function(){ 
                              var c = ebay.oDocument.addConfig(new EbayConfig('SYI3.Motors.BackToPrevious'));c.sAidVal='8'; 
                           })();
                        </script>
                        <div>
                           <div class="">
                              <script type="text/javascript" language="JavaScript">ebay.oP.initSwitchFormat();</script><script type="text/javascript" language="JavaScript">ebay.oP.initAddOptions();</script><script type="text/javascript" language="JavaScript">ebay.oP.initPreview();</script><script type="text/javascript" language="JavaScript">ebay.oP.initBackToPrevious();</script>
                           </div>
                        </div>
                        <div style="display:none">
                           <!--DIV-->
                        </div>
                        <script type="text/javascript" language="JavaScript">
                           (function(){ 
                              var c = ebay.oDocument.addConfig(new EbayConfig('Selling.Describe.Track'));c.sTrackingElemName='_ttDyi'; 
                           })();
                        </script>
                        <div style="display:none">
                           <!--DIV-->
                        </div>
                        
                        <div>
                           <div class="">
                              <script type="text/javascript" language="JavaScript">ebay.oD.bBindHTMLElems = true;</script><script type="text/javascript" language="JavaScript">ebay.oP.initAttributes();</script>
                           </div>
                        </div>
                        <div id="bpajax_secGrp" style="display:none">
                           <!--DIV-->
                        </div>
                        <div>
                           <script language="JavaScript" type="text/javascript"><!--
                              // RTM configuration.
                              var c = ebay.oDocument.addConfig(new EbayConfig("RTMEngine"));
                              c.srtmEngineHost = 'ht' + 'tp://srx.main.ebayrtm.com/rtm?RtmCmd&a=inline';
                              c.userId = '2ARYicRNOKXcWRitxFg%3D%3D';         
                              c.aPids = [131,11789];
                              c.sIfrName = "rtm";
                              c.guid = '86aebaa51570abc01e84260cfd53f6c4';
                              c.ord='1475455629162';
                              c.rtmContextData = '1H4sIAAAAAAAAADWOywoCMQxF9wPzDwV3gkOa9JEOZOEHiMi4dKNVpAtf4Cz8e22Kq5wccrlZTPPdbPPbABobRxdHSGYz7Q2CDX33tM6JrRMFdLWSvAIIAlUilkReJcV2ReGvMETNs8ZyOUs6zABQHZKTVUo%2FCq2DSTCwxshKvhY%2FXE7Hz5Aft%2BqEXfuBtYU4yrowv%2BJu2XdfBPmMbckAAAA%3D';
                              
                              ebay.oDocument._getControl("rtm")._exec("loadPlacements",c);   
                              //--></script>
                        </div>
                        <div>
                           <div class="" role="dialog">
                              <div id="overlayTag_secGrp" style="display:none" class="En_Overlay_ST">
                                 <div class="fl">
                                    <div id="OverlayDiv_sec" class="En_SellTagOverLay">
                                       <div id="contentDiv" class="En_OverlayContentDiv"></div>
                                       <div class="AddVarSaveButtonDiv"><input id="saveLink" name="saveLink" type="button" value="  Save  " onclick="ebay.run(this.id,&#39;onclick&#39;);return false;" onkeydown="ebay.run(this.id,&#39;onkeydown&#39;);return false;" title="  Save  ">&nbsp;&nbsp;
                                          <a href="javascript:{}" id="cancelLink" onclick="ebay.run(this.id,&#39;onclick&#39;);return false;" class="spacer">Cancel</a>
                                       </div>
                                       <div id="ItmSpecClsBtn" class="ItmSpecClsBtn"><a href="javascript:{}" id="closeBtn" onclick="ebay.run(this.id,&#39;onclick&#39;);return false;" onkeydown="ebay.run(this.id,&#39;onkeydown&#39;);return false;"><img border="0" alt="Close" title="Close" src="./images/btnClose.gif"><b class="acc-hdn">Close</b></a></div>
                                    </div>
                                 </div>
                                 <div id="OverlayShadow_sec" class="En_SellTagShadow"></div>
                              </div>
                           </div>
                        </div>
               
               <div id="hlpBub" style="display:none;visibility:hidden;width:300px" class="hlpBub"></div>
               <!--Begin eBay Footer--><!--[if lt IE 9]>
               <div id="glbfooter" role="contentinfo" class="gh-w gh-flex">
               <![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
               <!-- <footer id="glbfooter" role="contentinfo" class="gh-w gh-flex"> -->
               <!--<![endif]-->
          
             
               
               <!--[if lt IE 9]>
               </div>
               <![endif]--><!--[if (gte IE 9)|!(IE)]><!--><!-- </footer> --><!--<![endif]--><!--ts:2016.10.01.07:00--><!--rq:--><!--rvr:94RUG5-->
               <!--@sgfp@ footerStyle=FULL @egfp@-->
               </div></div>
               </div>
               </div>
            </div>
         </div>
         <!--End eBay Footer-->
      </div>
      <div><a href="http://cgi5.ebay.com/ws/eBayISAPI.dll#" id="gotoTop" style="display: none;"><img border="0" alt="Scroll to top" title="Scroll to top" src="./images/s.gif" height="76" width="33" id="gotoTopbtn"></a></div>
      <div id="lyrGrayout_sec" style="visibility:hidden;position:absolute;z-index:1"></div>
      <div id="dialog" role="dialog" style="visibility:hidden;position:absolute;z-index:2"></div>
      <div id="lyrProgressIndicator_sec" class="dlgBdr">
         <div class="idtHrz" style="position:relative;text-align:center;top:50%"><img border="0" alt="Loading" title="Loading" src="./images/imgLoading.gif"></div>
      </div>
      <div id="dyioverlay" style="display:none;position:absolute;background-color:#FFFFFF;padding: 5px 0 10px;z-index:5;" role="dialog">
         <div style="padding: 10px 20px 0;">
            <div id="Overlaytle" style=" font-size: large;font-weight: bold;">Product details</div>
            <div><img border="0" alt="Stock Photo" title="Stock Photo" src="./images/$(KGrHqN,!lME6CWISze5BOqBqNp29g--_7.JPG" align="absmiddle" id="img"></div>
            <div>Stock Photo</div>
            <div id="olayifrme" role="application"><iframe name="" id="" class="CatalogContent" scrolling="auto" style="border: 1px solid #CCCCCC;height: 300px;margin-top: 10px;width: 780px;" src="./images/ebayISAPI.html" title="Product details" aria-labelledby="productDetailInfo"> </iframe></div>
            <div style="padding: 5px 15px 0px;"><button id="lnkclse" name="lnkclse" type="button" class="btnMain" title="close"><span class="btn" id="lnkclse_btnFrm"><span class="btn" id="lnkclse_btnLbl">Close</span></span></button></div>
            <div><a href="javascript:{}" id="clsBtnol" onclick="ebay.run(this.id,&#39;onclick&#39;);return false;" class="picsCloseBtn"><img border="0" alt="close" src="./images/btnClose.gif"><b class="acc-hdn">Close</b></a></div>
         </div>
      </div>
      <div id="hlpFrmHdr" class="hlpFrmHdr" style="display:none;visibility:hidden;" aria-live="polite">
         <table cellspacing="0" cellpadding="0" width="100%" border="0" class="hlpFrmHdr" summary="">
            <tbody>
               <tr>
                  <td width="100%" class="hlpFrmHdr">Help</td>
                  <td nowrap="" align="center" class="conBdr"><a href="javascript:{}" id="hlpFrmHdrLnk" onclick="ebay.run(this.id,&#39;onclick&#39;);return false;"><img border="0" alt="Close" title="Close" src="./images/btnClose_16x16.gif"></a></td>
                  <td width="96%"></td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="liveHlpHdr" id="liveHlpHdr" style="display:none;visibility:hidden;" aria-live="polite">
         <script type="text/javascript" language="JavaScript">liveHelp.drawTrigger();</script><a href="http://ocs.ebay.com/ws/eBayISAPI.dll?ContactUsNextGen&amp;format=1&amp;pid=581" target="_help" onclick="return  liveHelp.popup(this.href,this.target,472,320,&#39;no&#39;,&#39;no&#39;);"><img src="./images/syi3_livehelp_createlisting.gif" alt="Click here for Live Help" border="0" align="absmiddle"></a>
         <div class="hlpFrmSrch">
            <div class="panel-n">
               <div class="panel-e">
                  <div class="panel-w"></div>
               </div>
            </div>
            <div class="secCnt">
               <div>
                  <form action="http://cgi5.ebay.com/ws/eBayISAPI.dll" method="" name="myForm">
                     <div class="">
                        <div>
                           <div style="padding-bottom:3px"><span id="_ttl" class="inpLbl"><label for="hlpSearchTxtBox">Search the help pages</label></span></div>
                           <div id="_tip" class="help navigation">(Does not search for items or products)</div>
                           <table cellpadding="0" cellspacing="0" border="0" summary="">
                              <tbody>
                                 <tr>
                                    <td valign="top">
                                       <div id="hlpSearchTxtBox_inp" class="idtRgt"><input type="text" id="hlpSearchTxtBox" name="hlpSearchTxtBox" value="" aria-required="true" size="12" onfocus="ebay.run(this.id,&#39;onfocus&#39;);return false;" onkeyup="ebay.run(this.id,&#39;onkeyup&#39;);return false;"></div>
                                    </td>
                                    <td valign="top"><span><input id="hlpSearchBtn" name="hlpSearchBtn" type="button" value="Search" onclick="ebay.run(this.id,&#39;onclick&#39;);return false;" disabled="true" title="Search"></span></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
            <div class="panel-s">
               <div class="panel-e">
                  <div class="panel-w"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="hlpIframeWithLiveHlpSrch" id="hlpFrm_div" style="display:none;visibility:hidden"><iframe name="hlpFrm" id="hlpFrm" aria-live="polite" class="hlpFrm" frameborder="0" style="display:none;visibility:hidden" allowtransparency="true" title="Live help search" src="./images/saved_resource(3).html"></iframe></div>
      <div id="overlay" style="visibility:hidden; position:absolute;"></div>
      <script type="text/javascript" language="JavaScript">var _eT = new Date().getTime();</script> 
      <div id="ConfirmOverlay_secGrp" name="ConfirmOverlay_secGrp" class="VarOverlayDiv" style="display:none">
         <div id="OverlayDiv_secGrp" name="OverlayDiv_secGrp">
            <div class="signPost btmpad">
               <span class="VarHeadings">
                  <h2 class="lst">
                     Show a different variation detail
                  </h2>
               </span>
            </div>
            <div class="_container">
               <div class="n">
                  <div class="e">
                     <div class="w"></div>
                  </div>
               </div>
               <div class="secGrpCnt">
                  <div>
                     <div class="VarSecWid">
                        <div>
                           <table cellpadding="0" cellspacing="0" border="0" width="100%" summary="" class="VarTablePad">
                              <tbody>
                                 <tr>
                                    <td class="VarFlag" valign="top"><img type="gif" src="./images/iconAlert_16x16.gif" alt="Warning"></td>
                                    <td width="100%">
                                       <div class="VarFlagDiv"><b>Are you sure you want to delete your variations? You will delete all of this listing's variations, variation details, and pictures.</b></div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="s">
                  <div class="e">
                     <div class="w"></div>
                  </div>
               </div>
            </div>
            <div class="CatalogContent">Do you want to continue?</div>
            <div class="VarOtherButtons"><span><button id="NoBtn" name="NoBtn" type="" class="btnMain" onclick="ebay.run(this.id,&#39;onclick&#39;);return false;"><span class="btn" id="NoBtn_btnFrm"><span class="btn" id="NoBtn_btnLbl">No</span></span></button></span><span><button id="YesBtn" name="YesBtn" type="" class="btnMain" onclick="ebay.run(this.id,&#39;onclick&#39;);return false;"><span class="greyBtn" id="YesBtn_btnFrm"><span class="greyBtn" id="YesBtn_btnLbl">Yes</span></span></button></span></div>
         </div>
      </div>
   </body>
</html>